@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 2rem;
}

:root .dark a:hover {
  color: #ec41b5;
  cursor: pointer;
}

:root a:hover {
  color: #7ce172;
  cursor: pointer;
}

:root a:active {
  background-color: #7ce172;
}

:root .dark a:active {
  background-color: #35182c;
}

:root a::selection,
h1::selection,
h2::selection,
p::selection,
span::selection {
  background-color: #7ce172;
  color: black;
}

:root .dark a::selection,
.dark h1::selection,
.dark h2::selection,
.dark p::selection,
.dark span::selection {
  background-color: #35182c;
  color: white;
}

:root h1 {
  font-size: 18pt;
}

:root h2 {
  font-size: 16pt;
}

:root h3 {
  font-size: 14pt;
}

:root p {
  font-size: 18px;
}

:root hr {
  background-color: #282828;
  border: none;
  height: 1px;
}
